*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Georgia,Regular, Arial;
	list-style: none;
	text-decoration: none;
}
.wrapper{
	
}
.row{
	padding: 0px 20px;
	background: #1b1b1b;
}
.strip{
	padding-bottom: 10px;
	background: #d24260;
}
.logo{
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	padding-top: 30px;
	text-align: center;
}
.logo__up span{
	font-size: 42px;
}
.logo__vp span{
	font-size: 12px;
}
.logo__vp {
    margin-top: -24px;
}
.social img{
	margin: 5px;
}
.social{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.social__icon-linkedin{
	width: 26px;
	height: 26px;
	background:#0e76a8;
	border-radius: 15px;
}
.social__icon-twitter{
	width: 26px;
	height: 26px;
	background: #00acee;
	border-radius: 15px;
}
.social__icon-pinterest{
	width: 26px;
	height: 26px;
	background: #c8232c;
	border-radius: 15px;
}
.social__icon-google-plus{
	width: 26px;
	height: 26px;
	background: #333333;
	border-radius: 15px;
}
.social__icon-rss{
	width: 26px;
	height: 26px;
	background: #ee802f;
	border-radius: 15px;
}
input[type="text"] {
    border-radius: 10px;
    border: none;
    width: 210px;
    background: #d24260;
    height: 25px;
    padding-left: 15px;
}
.search button {
    margin-left: -25px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    border: none;
    background: #000;
    cursor: pointer;
}
.search {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu ul li a{
	text-decoration: none;
	list-style: none;
	cursor: pointer;
	color: #fff;
}
.menu ul li{
	margin-bottom: 10px;
	text-align: center;
}
.menu {
    text-transform: uppercase;
    background: linear-gradient( to bottom, #3a3839, #121212);
}
.menu a:hover{
	color: #d24260;
}
ul li:nth-child(7){
	margin: 0;
}
.divide{
	background: #fff;
	width: 1px;
	height: 9px;
}
.sp-slide{
	position: relative;
}
.slide-container{
	background: #000;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 25px;
	width: 100%;
	min-width: 10px;
	opacity: .5;
}
.slide-caption{
	font-size: 20px;
	color: #c2c2c2;
	margin-bottom: 20px;
	text-align: left;
}
.slide-text p{
	font-size: 13px;
	line-height: 1.8;
	color: #bfbfbf;
}
.slider-retreat{
	padding-top: 30px;
}
.deployed__news img{
	border: 1px solid #333333;
	padding: 4px;
	background: #1b1b1b;
	width: 100%;

}
.deployed__news__title{
	font-size: 26px;
	margin-bottom: 19px;
	color:#fff;
}
.deployed__news span{
	font-size: 13px;
	margin-bottom: 22px;
}
.deployed__news{
	text-align: center;
}
.nav{
    margin-top: 22px;
    text-align: right;
    font-size: 13px;
}
.deployed__news a{
	color: #d24260;
}
.deployed__news p {
	margin-top: 27px;
}
.news {
    background: #1b1b1b;
    color: #999999;
    padding-top: 30px;
}
.deployed__news__title span {
    margin-bottom: 30px;
    display: block;
    font-size: 26px;
}
.short__article__news{
	font-size: 13px;
	text-align: center;
	margin-top: 30px;
}
.service img{
	padding-right: 18px;
	float: left;
}
.service span {
    font-size: 14px;
    margin:15px 0;
    display: block;
    text-align: left;
}
.service{
	text-align: left;
}
.clearfix:before,.clearfix:after{
	content: "";
	clear: both;
}
.short__article__news a{
	color: #d24260;
}
.user__clients span{
	font-size: 16px;
	padding-right: 11px;
}
.user__clients{
	display: flex;
}
.user__clients span {
    font-size: 16px;
    padding-left: 11px;
    margin: 8px;
}
.reviews__news a{
	color: #d24260;
	font-size: 13px;
}
.projects img{
	width: 100%;
}
.projects__name a{
	color: #d24260;
}
.a__strip{
	height: 2px;
	background:  #333333;
}
.a__strip__news{
	background: #151513;
	height: 3px;
}
.a__strip__fyter{
	background: #373432;
	height: 1px;
}
.fyter{
	background: #201e1d;
}
.contact__detalis{
	text-align: center;
	padding-top: 30px;
}
.contact__detalis__title{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 30px;
}
.contact__detalis span{
	color: #999999;
	font-size: 13px;
	text-align: left;
}
.contact__detalis ul li a{
	color: #999999;
	text-align: center;
}
.quick__links{
	text-align: center;
	padding-top: 30px;
}
.quick__links__title{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 30px;
}
.quick__links ul li a{
	color: #999999;
	display: flex;
	justify-content: center;	
}
.quick__links ul li {
	border-bottom: 1px solid #373432;  
}
.from__the__blog{
	color: #999999;
	padding-top: 30px;
	text-align: center;
}
.from__the__blog__title{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 30px;
}
.read__more{
	text-align: right;
	padding-top:17px;
}
.read__more a{
	color: #d24260;
}
.from__title__subtitle{
	font-size: 13px;
	padding-bottom: 16px;
}
.from__title__subtitle span{
	display: block;
}
.nave{
	font-size: 12px;
	text-align: center;
}
.grab__our__newsletter{
	text-align: center;
	padding-top:30px;
	padding-bottom:35px;
}
.grab__our__newsletter__title{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 30px;
}
.name input{
	background: #2c2c2c;
	height: 31px;
	margin-bottom: 10px;
	width: 100%;
}
.email input{
	background: #2c2c2c;
	height: 31px;
	width: 100%;
}
.submit button{
	font-size: 13px;
	color: #d24260;
	height: 31px;
	background: #2c2c2c;
	border-radius: 7px;
	border:none;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
}
.info__fyter{
	color: #737373;
	text-align: center;
}